/*
|----------------------------------------------
| footer
|----------------------------------------------
*/

.rdp{
    @extend %fl;
    
    &-info{
        padding: ft-c(30) 0;
        @include back($lightBlue, $white);
        
    }
    
    .not-rdp{
        background: $customBlue;
        padding: 0 ft-c(8)$i;
        
        .tit4{
            padding: ft-c(16) ft-c(8);
            min-height:inherit;
        }
    }
    
    .tit-default{
        text-transform: uppercase;
    }
    
    .box-not{
        li{
            min-height: inherit;
            
            padding : { 
                left: 0$i;
                right: ft-c(20)$i;
            }
        }
    }
}

// Menu Rdp

.box-menu{
    @include back($darkBlue, $white);
    padding: ft-c(18)$i;
}

.nav-info{
    
    li{
        @extend %fl;
        position: $p-r;
        &:after{
            content: '';
            @include circle(3px, $white);
            @extend %fr;
            font-size: ft-c(80);
            margin:ft-c(2) ft-c(2) 0;
        }
    }
    
    li:last-child{
        &:after{
            display: none;
        }
    }
    
    a{
        text-transform: uppercase;
    }
}

.menu-rdp{
    
    a{
        @extend .tit4;
        color: $white$i;
    }
}


// Icones

$icones : 'face', 'twitter', 'g-plus', 'atratis';

@each $icon in $icones{
    .#{$icon}{
        background: lighten($lightBlue, 5%) inline-image('icon-#{$icon}.png') center no-repeat;
        text-indent: -9999px;
        overflow: hidden;
        @include size(44px);
        @extend %fl;
        margin: ft-c(15) ft-c(8) ft-c(15) 0;
        
        &:hover{
            background-color: lighten($lightBlue, 10%);
        }
    }
}

.atratis{
    background-color: transparent;
    
    &:hover{
        background-color: transparent;
        transform: scale(1.1);
    }
}

// Barra Creditos
.cred-info{
    padding: ft-c(25) 0 ft-c(15)$i;
    background: $white;
}

.logo-rdp{
    @include img-rep('logo-rdp.png', none);
    @extend %center;
}