/*
|----------------------------------------------
| Header
|----------------------------------------------
*/
.topo{
    
    
    background-image : 
        linear-gradient(to bottom, $blue , $blue 100%), 
        linear-gradient(to bottom, $lightBlue , $lightBlue 100%),
        linear-gradient(to bottom, $yellow , $yellow 100%)
    ;
    
    background-position : left top, center top, right top;
    background-repeat : no-repeat;
    background-size: 33.35% ft-c(5);    
    
    
    
    &-banner{
        padding: ft-c(29) 0;
        display: inline-block;
    }
    
    
    // menu
    .navbar-default{
        $b-valor : 1px solid rgba($gray, .3);
        background: $white;
        border: 0;
        border: { 
            top: $b-valor;
            bottom: $b-valor;
            radius: 0;
        }
        
        .container{
            $tb : 2px;
            padding : {
                top : $tb;
                bottom : $tb;
                left: 0$i;
            }
        }
    }
    
    .navbar{
        min-height: inherit;
    }
    
    .navbar-nav{
        
        li:first-child a{
            padding-left: 0;
        }
        
        a{
            font: ft-c(13.45) $ft-monts;
            text-transform: uppercase;
            color: $blue$i;
            padding: 12px;
            @extend %transition;
            
            &:hover{
                color: $lightBlue$i;
            }
        }
        
        li:last-child{
            margin-left: ft-c(15);
        }
    }
    
    .plus{
        @include img-rep('plus.png', right);
        background: {
            position : center;
            repeat   : no-repeat;
        }
        margin-top: 7px;
        padding: 8px;
        border: 2px solid $lightBlue;
        border-radius: $cem;
        
        &:hover{
            transform: scale(1.1);
        }
    }
}

// Logo Topo
.logo{
    @include img-rep('logo.png');
}

// Banner
.banner{
    margin-top: ft-c(18);
}

// Menu
