@charset "UTF-8";

/*

****
****

Date: DD/MM/AAAA
Organization of the Styles Sheets

** FRAMEWORK'S CSS
    -- compass

** GLOBAL
    -- variables
    -- placeholder
    -- mixins
    -- normalize
    -- reset
    -- fonts
    -- animations

** MODULES
    -- helpers
    -- grid
    -- menu
    -- form
    -- tabelas
    -- listas
    -- tabs
    -- tooltip
    -- modal
    -- box
    -- galerias

** SECTIONS
	-- header
	-- footer
	-- inner content

** CUSTOM SECTIONS
    -- 

****
****

*/


// **
// FRAMEWORK'S CSS
// **
@import "compass";


// **
// GLOBAL
// **
@import "global/functions";
@import "global/variables";
@import "global/placeholder";
@import "global/mixins";

// **
// MODULES
// **


@import "modules/reset";
@import "modules/galerias";


// **
// SECTIONS
// **
@import "sections/header";
@import "sections/footer";


// **
// CUSTOM SECTIONS
// ** 

/*
|----------------------------------------------
| main custom
|----------------------------------------------
*/

// Títulos
.tit-dest{
    font : $t-gg $ft-monts;
    text-transform : uppercase;
    margin-bottom  : ft-c(15);
    
    // Listas
    $tit-colors : zip($color, $strings);
    
    // Loops de Cores
    @each $tit in $tit-colors{
        &.#{nth($tit, 2)}{
            color: #{nth($tit, 1)};
        }
    } 
}

.tit1{
    font: $t-gg-custom $ft-monts;
    
    &.tit-blue{
        color: $blue;
    }
}

.tit2{
    font: $t-g $ft-monts;
    
    &.tit-blue{
        color: $blue;
    }
}

.tit3{
    font: $t-p-custom $ft-monts;
    color: $blue;
}

.tit4{
    @extend .tit3;
    font-size: $t-pp-custom;
}

.txt-font{
    font: $t-p $ft-open;
    color: $gray;
}

.tit-publi{
    @extend .txt-font;
    font-size: ft-c(10);
    text-transform: uppercase;
}

// Tags

.tit-default{
    font: $t-m $ft-monts;
}

.tag-violet{
    @include position($p-a, rb, 0, 0);
}

.tag{
    @include position($p-a, rb, 0, -10px); 
    padding: ft-c(5) ft-c(10)$i;
}


// Lista Tags
$list-tags : zip($color, $strings);

@each $tags in $list-tags{ 
    .tag-#{nth($tags, 2)}{
        background: #{nth($tags, 1)};
        @extend %tit-default;
    }
} 

.box-tag{
    @include position($p-a, rb, 0, 0);
    
    .date{
        @include back($white, $gray);
        font: ft-c(10) $ft-open;
        padding: ft-c(2) ft-c(8)$i;
        @extend %fl;
    }
    
    [class*="tag-"]{
        padding: ft-c(2) ft-c(5)$i;
        font-size: ft-c(11)$i;
        position: $p-r$i;
        @extend %fl;
    }
}

// Box Texto
.txt{
    padding: 0 ft-c(18)$i;
    height: auto;
    
    &-desc{
         @extend .txt-font;
    }
}

// Bordas
.bord-full{
    border: 1px solid rgba($gray, .787);
}
.bor-bot{
    border-bottom: 5px solid rgba($gray, .1);
}


.box-border{
    position: $p-r;
    
    &:after{
        @include af-our-bef('', 100%, auto, $p-a);
        @extend .bor-bot;
        bottom: 0;
        left: 0;
        @include transition;
    }
    
    &:hover:after{
        border-color: $yellow$i;
    }
}


// Cinema
.box-cinema{
    margin-top: ft-c(59);
    position: $p-r;
}

.cinema-info{
    @include position($p-a, tl, 50%, 50%);
    width: 100%;
    margin: auto;
    transform: translate(-50%, -50%);
    
    .tit1, .tit2{
        color: $white;
        text-transform: uppercase;
        @include text-shadow(1px 2px 5px rgba(0, 0, 0, .5));
    }
    
    .tit1{
        font-size: ft-c(40);
        line-height: ft-c(10);
    }
    
    .tit2{
        font-size: ft-c(20);
    }
}

// Notícias
.box-not{
    
    li{
        min-height: 250px;
        padding: 0 ft-c(10) 0 0$i;
        
        a:hover .box-border:after{
            border-color: $yellow;
        }
    }
    
    .tit3{
        min-height: ft-c(80);
    }
}


.block-not{
    margin-top: ft-c(45)$i;
    @extend %fl;
}


// Newslatter
.box-newslatter{
    padding-left: ft-c(20)$i;
    
    .txt-desc{
        font-size: $t-p;
    }
    
    .form-control{
        border: 1px solid rgba($blue, .1);
        background: rgba($gray, .1);
        padding: ft-c(28) ft-c(18)$i;
        box-shadow: inherit;
    }
}

// Publicidade
.publi-pad{
    padding: ft-c(25) 0$i;
}

.box-m-publi{
    margin-top: ft-c(37);
}


/* Classes constantes */
// Paddings Custom
.pad-prin{
    padding: 0 ft-c(30) 0 ft-c(20)$i;
}

.pad-princ-custom{
    padding: 0 .5%$i ;
}

.pad-b{
    padding-bottom: ft-c(30);
}

.pad-reset-r{
    padding-right: 0$i;
}
// Formulário
.tit-form{
    font  : ft-c(15) $ft-monts;
    color : $lightBlue;
}

.box-form{
    padding: 0 ft-c(20)$i;
    
    &-busc{
        .form-control{
            padding: ft-c(27) ft-c(30) ft-c(27) ft-c(10);
        }
    }
}

.form-control{
    border-radius: 0;
    border: 2px solid rgba($gray, .2);
    border-top-width: 2px;
    @extend .tit4;
    color: $gray;
    position: $p-r;
    box-shadow: inherit;
    
    &:focus{
        box-shadow: inherit;
        border-color: rgba($blue, .5);
    }
}

// Butões Formulário
.bt-busc{
    @include img-rep('icon-busc.png');
    @include position($p-a, tr, 17px, 24px);
    @extend %transition;
    
    background : { 
        color  : transparent;
        repeat : no-repeat;
        position : center;
    }
    
    &:hover{
        opacity: .7;
    }
    
}

.bt-simples{
    background : transparent;
    @extend .tit-default, %fr;
    text-transform : uppercase;
    color: $blue;
    padding-right: 0$i;
    @include transition(color, .2s, linear);
    &:hover{
        color: $orange;
    }
}

.at-menu{
    background: inline-image('icon-menu.png') no-repeat center;
    text-indent: -9999px;
    overflow: hidden;
    display: block;
    cursor: pointer;
    @include transition;
    border: 2px solid rgba($gray, .3);
    padding: 3% 3.6%$i;
    float: left;
    
    &:hover{
        opacity: .7;
    }
}
@media (min-width: 1200px){
    
    .offset-1-custom{
        margin-left: 0$i;
    }
    
    .bt-simples{
        float: right$i;
        margin-top: 0$i;
    }
}

@media (min-width: 992px){
    .bt-simples{
        margin-top: 35px;
        padding-left: 16px;
        float: left;
    }
    
    .offset-1-custom{
        margin-left: ft-c(10);
    }
}

@media (min-width: 768px){
    .bt-simples{
        margin-top: 35px;
        padding-left: 16px;
        float: left;
    }
    
    .offset-1-custom{
        margin-left: ft-c(10);
    }
}

@media (max-width: 767px){
    .box-newslatter{
        padding-left: 0$i;
    }
    
    .navbar-nav{
        li:first-child a{
            padding-left: 12px$i;
        }
    }
    
    .pad-reset-xs{
        padding : {
            top : ft-c(5)$i;
            right : 0$i;
            bottom : ft-c(5)$i;
            
        }
    }
    
    .box-form{
        padding-right: 0$i;
    }
    
    .box-form-busc {
        margin-bottom: ft-c(30);
        @include position($p-a, tr, 0, 0);
        width: 95%;
    }
    
    .at-menu{
        margin-bottom: ft-c(15);
    }
    
    .plus{
        float: left$i;
    }
    
    .box-not li{
        padding-right: 0$i;
    }
}

.pos-r{
    position: $p-r;
}

/* mudar selecao */
::-moz-selection { color: $white; background: $orange; text-shadow: none; }
::selection { color: $white; background: $orange; text-shadow: none; }