/*
|----------------------------------------------
| Galerias
|----------------------------------------------
*/

.list-p{
    li{
        margin-bottom: ft-c(27);
    }
    
    .box-img{
        margin-bottom: 0;
    }
}


.box-img{
    position: $p-r;
    margin-bottom: ft-c(20);
    
    img{
        width: $cem;
    }
}