/*
|----------------------------------------------
| Reset
|----------------------------------------------
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px$i;
}
ul{
    list-style-type: none;
}

[class*='col-']{
    padding: 0$i;
}

.row{
    margin: 0$i;
}

picture{
    img{
        max-width: 100%;
        height: auto;
    }
}

.img-full{
    width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6{
    margin-top: 0;
}