/*

****
****

Date: DD/MM/AAAA
Organization of the Styles Sheets

** FRAMEWORK'S CSS
    -- compass

** GLOBAL
    -- variables
    -- placeholder
    -- mixins
    -- normalize
    -- reset
    -- fonts
    -- animations

** MODULES
    -- helpers
    -- grid
    -- menu
    -- form
    -- tabelas
    -- listas
    -- tabs
    -- tooltip
    -- modal
    -- box
    -- galerias

** SECTIONS
	-- header
	-- footer
	-- inner content

** CUSTOM SECTIONS
    -- 

****
****

*/
/*
|----------------------------------------------
| Variables
|----------------------------------------------
*/
/*
|----------------------------------------------
| Placeholder
|----------------------------------------------
*/
.logo-rdp {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.rdp, .nav-info li, .face, .twitter, .g-plus, .atratis, .box-tag .date, .box-tag [class*="tag-"], .block-not {
  float: left;
}

.nav-info li:after, .bt-simples {
  float: right;
}

.tag-pink, .tag-orange, .tag-darkgreen, .tag-green, .tag-lightgreen, .tag-lightblue, .tag-violet {
  font: 0.75em "Montserrat", sans-serif;
  color: white;
  padding: 0.625em 1.25em;
  text-transform: uppercase;
}

.topo .navbar-nav a, .bt-busc {
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}

/*
|----------------------------------------------
| Mixins e Functions
|----------------------------------------------
*/
/*
|----------------------------------------------
| Reset
|----------------------------------------------
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px !important;
}

ul {
  list-style-type: none;
}

[class*='col-'] {
  padding: 0 !important;
}

.row {
  margin: 0 !important;
}

picture img {
  max-width: 100%;
  height: auto;
}

.img-full {
  width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

/*
|----------------------------------------------
| Galerias
|----------------------------------------------
*/
.list-p li {
  margin-bottom: 1.6875em;
}
.list-p .box-img {
  margin-bottom: 0;
}

.box-img {
  position: relative;
  margin-bottom: 1.25em;
}
.box-img img {
  width: 100%;
}

/*
|----------------------------------------------
| Header
|----------------------------------------------
*/
.topo {
  background-image: linear-gradient(to bottom, #126fb8, #126fb8 100%), linear-gradient(to bottom, #30bfbb, #30bfbb 100%), linear-gradient(to bottom, #fdbc15, #fdbc15 100%);
  background-position: left top, center top, right top;
  background-repeat: no-repeat;
  background-size: 33.35% 0.3125em;
}
.topo-banner {
  padding: 1.8125em 0;
  display: inline-block;
}
.topo .navbar-default {
  background: white;
  border: 0;
  border-top: 1px solid rgba(125, 125, 125, 0.3);
  border-bottom: 1px solid rgba(125, 125, 125, 0.3);
  border-radius: 0;
}
.topo .navbar-default .container {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 0 !important;
}
.topo .navbar {
  min-height: inherit;
}
.topo .navbar-nav li:first-child a {
  padding-left: 0;
}
.topo .navbar-nav a {
  font: 0.84063em "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #126fb8 !important;
  padding: 12px;
}
.topo .navbar-nav a:hover {
  color: #30bfbb !important;
}
.topo .navbar-nav li:last-child {
  margin-left: 0.9375em;
}
.topo .plus {
  float: right;
  overflow: hidden;
  text-indent: -9999px;
  width: 6px;
  height: 6px;
  background-image: url('../../build/images/plus.png?1410783145');
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 7px;
  padding: 8px;
  border: 2px solid #30bfbb;
  border-radius: 100%;
}
.topo .plus:hover {
  transform: scale(1.1);
}

.logo {
  float: left;
  overflow: hidden;
  text-indent: -9999px;
  width: 259px;
  height: 105px;
  background-image: url('../../build/images/logo.png?1410783146');
}

.banner {
  margin-top: 1.125em;
}

/*
|----------------------------------------------
| footer
|----------------------------------------------
*/
.rdp-info {
  padding: 1.875em 0;
  background: #30bfbb;
  color: white;
}
.rdp .not-rdp {
  background: #46dcda;
  padding: 0 0.5em !important;
}
.rdp .not-rdp .tit4, .rdp .not-rdp .menu-rdp a, .menu-rdp .rdp .not-rdp a, .rdp .not-rdp .form-control {
  padding: 1em 0.5em;
  min-height: inherit;
}
.rdp .tit-default, .rdp .bt-simples {
  text-transform: uppercase;
}
.rdp .box-not li {
  min-height: inherit;
  padding-left: 0 !important;
  padding-right: 1.25em !important;
}

.box-menu {
  background: #2bb4b0;
  color: white;
  padding: 1.125em !important;
}

.nav-info li {
  position: relative;
}
.nav-info li:after {
  content: '';
  border-radius: 100%;
  background: white;
  width: 3px;
  height: 3px;
  font-size: 5em;
  margin: 0.125em 0.125em 0;
}
.nav-info li:last-child:after {
  display: none;
}
.nav-info a {
  text-transform: uppercase;
}

.menu-rdp a {
  color: white !important;
}

.face {
  background: #3bceca url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAcCAYAAABRVo5BAAABMklEQVR42tSUv0rEQBCHd/eC+AcRbOwUbXwIEQsLG0sbUdDiOp9BfA/vVSx8AVvBxk6EIIqNpxfN+i1MYBl2Y5LOH3wcmdzsZuY3u9Z7b1q0CMuwAnMwgymURSYhxPfhFHZgTWIVfMKZCTsqRnAJlc/rKJV4ArVv16FTnxjqGYM17ap0jduwqWLPcAUPMJJa73TiqnQy1i1M9JbO/K33VFAn/oDvsFhyR52YbJSltbv8nsMXbMEezEf/CU25gYUoNgm+Xfj+OnayU1+9OfGmr6bBxxLu4UN83FCLvcKjGN809CXU6KCQOT2AUtVzLe8KIRwCG1aphZyPzbvvNh9dwjfbdQDM0MkZlOiHzqrtcIj/+6fajLfJi1ffAM1pqSRpljvI8fMSrMt1X0dD/qQTfwUYAGiCALmkCbqNAAAAAElFTkSuQmCC') center no-repeat;
  text-indent: -9999px;
  overflow: hidden;
  width: 44px;
  height: 44px;
  margin: 0.9375em 0.5em 0.9375em 0;
}
.face:hover {
  background-color: #4fd3cf;
}

.twitter {
  background: #3bceca url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAWCAYAAADTlvzyAAAB+0lEQVR42qzWPUgcQRTAce9yHga/IlFE8KtRMCiCTfADqxBQxMZ0lmITQSshkNZORFLZaCEopLGIKKIgajBioYKEgKDGRBvjtwZB48fmP/JWxnX3nGXvwa+4vZ17OzNv3l7IsqyEgFGCBhQjhA1MYUW7Jxs3OEhQCfEMNSiVz6aa8cN6HBvoQBk+YhTFd5OTgS8wgUXkGiarx5nlHZf4hQu8RzoS7cF52JQb5w1m+hzLlll8xSDakWT/QL4sgx3baEGaR8JKXBsmVDP8ghx9SdV0x1xunkSTrEBYS9joI+GIbNnd2IhU0SmGUIewVl1vhaq4GaxiG4UwLe9pnNx/ksxJKMAn2exYoQplD7eGM2zTtyOinZNemd05ojGeOFWYxDUO9Qt2wr94iVq5KV6xK1twH/Z+HaPf8RDxiJ9Yc0uoCmAEfbiIY8IlHD244jhfyfggHeLGChb7qHae4bDjiaKyh+u4DTi7WXxzXnTul1rOV3gTMJmqiS7Xb1zaVhaGAy5np1cf9mrOqhW1Yhy/fSYbQNRvQls55nwkG9L7ZqyEqjoz5O2QiSr0YNewWs/Ri9Sn3qMROYuv8Q6l0pjzDIvjCt/Rjc8mAyJS/gtI12QgxWOMahI70kFG5S1zalq+IZc/UfmoQBFykSZ/ji7xB1uSbBn//J6X/wIMABwCdcveJgDbAAAAAElFTkSuQmCC') center no-repeat;
  text-indent: -9999px;
  overflow: hidden;
  width: 44px;
  height: 44px;
  margin: 0.9375em 0.5em 0.9375em 0;
}
.twitter:hover {
  background-color: #4fd3cf;
}

.g-plus {
  background: #3bceca url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAWCAYAAAA1vze2AAACSklEQVR42pzWTUiUQRzHcXd9dimrUwWlC4aQUUR0sCwrkKhLB+kgUl2iokOeJE+Rt04J3XqhQ9CxOkTRIU8RHSMhKvFSUboVKFYrWWjW03fqN/B3dnZ1G/jg7Mw883/m5Zkxk6ZpXZC2ohsHsQk5pOJSPVbhPo6jVLdYckGMwxhN/6VpvEjL03fcRnvwbEX2xx6Mq6NhtKIJJzBlgrxGy1ID2CAZ3FUnczgdNBxQuR/JqVqCZDVrG7FF+Xm8C2b1Oj4ovxztkZlfg5PYFVb4IA3IK59gQ9BuEmPmdy4SpBM3MFApyDimTQddkU5++b2C55H6TNCuLMgUHpvyAxq6T01oVf4l7kSC/DDTvSAlJn8RO9CBZbikjt369CiQm7Iz+IRGtfdvv1f5Ag5pAPV/nwl2QgGX8dNs2Vn9fYudpm0/vsoXzJjd+Vllru5ZNhhZEf1owTGMmg0xjKem7TdNTUlmzHT5MrfOE9X292oMBSPqRU71WeSNo2r3IChPkmAkea3Ddn07zUHdFa3FoN5yztT7Bf8dlC84VrbhGkrm7cfwJnJ+DWok9nk/kqFKx0qbziSfbuKIytt0fr0y9RPBJnD2Y1IvWhZkPR6ZDs65eYys0eagXV9Q34AONMeC9GBeD77HiiqbodMEuVDLAVnQR+MPv6TK9WMXdPHLyhwrRXPrrUUfVkbautuw13xPT5YaxH8Pt4Ldcw9dWtzd6DbfjDsNzv/PpdWIqyim1dMIztYSwMkE/0jsE3esrNM9M4uPGMFDHTU1pT8CDAAbOeIvfv5njwAAAABJRU5ErkJggg==') center no-repeat;
  text-indent: -9999px;
  overflow: hidden;
  width: 44px;
  height: 44px;
  margin: 0.9375em 0.5em 0.9375em 0;
}
.g-plus:hover {
  background-color: #4fd3cf;
}

.atratis {
  background: #3bceca url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAASCAQAAAAa7o2YAAABWElEQVQYGQXBO4gIAACA4d8dXXmcjVOSQcljVAYmSYlk8IhFom6zUBaKSWxivUSGKyEJGSwiNuXcZrgcyiMZuCPO5/uSJFvcMOW3Tx45ZFCSJJkvKcmQMQDAM8slyWYfzHlgtZJBDzHrgrUGDNvrFd5YIskLwLRlyTn8sEWSZMgdXJUs8hfAlawwiwOSJMki7/0yLJsAMJ0zeClJkiRnsUsOAuBfnuKUJEmSbMeonAbAz3zDTkmSJNmGfXILAJP5gx2SJElywpwRC3wFwLV8xKgkSZIBE27JbgCwKw9wX5IkyUWfrTTPMwC8NZCj+GerhUYskKwx7rV1MgoA9itDpvDRRvNsdcQll+0xKIf9BsC4lBwCM85bKkk2uAsAnhiSkowBZj1307gJAMBjiyUlGXQdAADAH2cMSFKS5LgvAADm3LZekqQkSRY75p53Znw36b6TVkmSJP0HlD1b7BZ5rIMAAAAASUVORK5CYII=') center no-repeat;
  text-indent: -9999px;
  overflow: hidden;
  width: 44px;
  height: 44px;
  margin: 0.9375em 0.5em 0.9375em 0;
}
.atratis:hover {
  background-color: #4fd3cf;
}

.atratis {
  background-color: transparent;
}
.atratis:hover {
  background-color: transparent;
  transform: scale(1.1);
}

.cred-info {
  padding: 1.5625em 0 0.9375em !important;
  background: white;
}

.logo-rdp {
  float: none;
  overflow: hidden;
  text-indent: -9999px;
  width: 191px;
  height: 36px;
  background-image: url('../../build/images/logo-rdp.png?1410783144');
}

/*
|----------------------------------------------
| main custom
|----------------------------------------------
*/
.tit-dest {
  font: 1.75em "Montserrat", sans-serif;
  text-transform: uppercase;
  margin-bottom: 0.9375em;
}
.tit-dest.pink {
  color: #ef509d;
}
.tit-dest.orange {
  color: #ec732c;
}
.tit-dest.darkgreen {
  color: #339882;
}
.tit-dest.green {
  color: #6cac44;
}
.tit-dest.lightgreen {
  color: #5ec09e;
}
.tit-dest.lightblue {
  color: #30bfbb;
}
.tit-dest.violet {
  color: #976eae;
}

.tit1 {
  font: 1.375em "Montserrat", sans-serif;
}
.tit1.tit-blue {
  color: #126fb8;
}

.tit2 {
  font: 1.125em "Montserrat", sans-serif;
}
.tit2.tit-blue {
  color: #126fb8;
}

.tit3, .tit4, .menu-rdp a, .form-control {
  font: 0.9375em "Montserrat", sans-serif;
  color: #126fb8;
}

.tit4, .menu-rdp a, .form-control {
  font-size: 0.8125em;
}

.txt-font, .tit-publi, .txt-desc {
  font: 0.875em "Open Sans", sans-serif;
  color: #7d7d7d;
}

.tit-publi {
  font-size: 0.625em;
  text-transform: uppercase;
}

.tit-default, .bt-simples {
  font: 1em "Montserrat", sans-serif;
}

.tag-violet {
  position: absolute;
  right: 0;
  bottom: 0;
}

.tag {
  position: absolute;
  right: 0;
  bottom: -10px;
  padding: 0.3125em 0.625em !important;
}

.tag-pink {
  background: #ef509d;
}

.tag-orange {
  background: #ec732c;
}

.tag-darkgreen {
  background: #339882;
}

.tag-green {
  background: #6cac44;
}

.tag-lightgreen {
  background: #5ec09e;
}

.tag-lightblue {
  background: #30bfbb;
}

.tag-violet {
  background: #976eae;
}

.box-tag {
  position: absolute;
  right: 0;
  bottom: 0;
}
.box-tag .date {
  background: white;
  color: #7d7d7d;
  font: 0.625em "Open Sans", sans-serif;
  padding: 0.125em 0.5em !important;
}
.box-tag [class*="tag-"] {
  padding: 0.125em 0.3125em !important;
  font-size: 0.6875em !important;
  position: relative !important;
}

.txt {
  padding: 0 1.125em !important;
  height: auto;
}

.bord-full {
  border: 1px solid rgba(125, 125, 125, 0.787);
}

.bor-bot, .box-border:after {
  border-bottom: 5px solid rgba(125, 125, 125, 0.1);
}

.box-border {
  position: relative;
}
.box-border:after {
  content: "";
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  left: 0;
  transition: all 0.1s ease-in-out;
}
.box-border:hover:after {
  border-color: #fdbc15 !important;
}

.box-cinema {
  margin-top: 3.6875em;
  position: relative;
}

.cinema-info {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  margin: auto;
  transform: translate(-50%, -50%);
}
.cinema-info .tit1, .cinema-info .tit2 {
  color: white;
  text-transform: uppercase;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}
.cinema-info .tit1 {
  font-size: 2.5em;
  line-height: 0.625em;
}
.cinema-info .tit2 {
  font-size: 1.25em;
}

.box-not li {
  min-height: 250px;
  padding: 0 0.625em 0 0 !important;
}
.box-not li a:hover .box-border:after {
  border-color: #fdbc15;
}
.box-not .tit3, .box-not .tit4, .box-not .menu-rdp a, .menu-rdp .box-not a, .box-not .form-control {
  min-height: 5em;
}

.block-not {
  margin-top: 2.8125em !important;
}

.box-newslatter {
  padding-left: 1.25em !important;
}
.box-newslatter .txt-desc {
  font-size: 0.875em;
}
.box-newslatter .form-control {
  border: 1px solid rgba(18, 111, 184, 0.1);
  background: rgba(125, 125, 125, 0.1);
  padding: 1.75em 1.125em !important;
  box-shadow: inherit;
}

.publi-pad {
  padding: 1.5625em 0 !important;
}

.box-m-publi {
  margin-top: 2.3125em;
}

/* Classes constantes */
.pad-prin {
  padding: 0 1.875em 0 1.25em !important;
}

.pad-princ-custom {
  padding: 0 0.5% !important;
}

.pad-b {
  padding-bottom: 1.875em;
}

.pad-reset-r {
  padding-right: 0 !important;
}

.tit-form {
  font: 0.9375em "Montserrat", sans-serif;
  color: #30bfbb;
}

.box-form {
  padding: 0 1.25em !important;
}
.box-form-busc .form-control {
  padding: 1.6875em 1.875em 1.6875em 0.625em;
}

.form-control {
  border-radius: 0;
  border: 2px solid rgba(125, 125, 125, 0.2);
  border-top-width: 2px;
  color: #7d7d7d;
  position: relative;
  box-shadow: inherit;
}
.form-control:focus {
  box-shadow: inherit;
  border-color: rgba(18, 111, 184, 0.5);
}

.bt-busc {
  float: left;
  overflow: hidden;
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  background-image: url('../../build/images/icon-busc.png?1410783142');
  position: absolute;
  top: 17px;
  right: 24px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}
.bt-busc:hover {
  opacity: .7;
}

.bt-simples {
  background: transparent;
  text-transform: uppercase;
  color: #126fb8;
  padding-right: 0 !important;
  transition: color 0.2s linear;
}
.bt-simples:hover {
  color: #ec732c;
}

.at-menu {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAANBAMAAABWYCMqAAAAElBMVEUwv7swv7swv7swv7swv7swv7s5gltsAAAABXRSTlMAm5z1/m/t62MAAAAcSURBVAgdYxAJhQBHBlMoK5hBBcpyYsAGqKwDAD+mGLWh+1mdAAAAAElFTkSuQmCC') no-repeat center;
  text-indent: -9999px;
  overflow: hidden;
  display: block;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  border: 2px solid rgba(125, 125, 125, 0.3);
  padding: 3% 3.6% !important;
  float: left;
}
.at-menu:hover {
  opacity: .7;
}

@media (min-width: 1200px) {
  .offset-1-custom {
    margin-left: 0 !important;
  }

  .bt-simples {
    float: right !important;
    margin-top: 0 !important;
  }
}
@media (min-width: 992px) {
  .bt-simples {
    margin-top: 35px;
    padding-left: 16px;
    float: left;
  }

  .offset-1-custom {
    margin-left: 0.625em;
  }
}
@media (min-width: 768px) {
  .bt-simples {
    margin-top: 35px;
    padding-left: 16px;
    float: left;
  }

  .offset-1-custom {
    margin-left: 0.625em;
  }
}
@media (max-width: 767px) {
  .box-newslatter {
    padding-left: 0 !important;
  }

  .navbar-nav li:first-child a {
    padding-left: 12px !important;
  }

  .pad-reset-xs {
    padding-top: 0.3125em !important;
    padding-right: 0 !important;
    padding-bottom: 0.3125em !important;
  }

  .box-form {
    padding-right: 0 !important;
  }

  .box-form-busc {
    margin-bottom: 1.875em;
    position: absolute;
    top: 0;
    right: 0;
    width: 95%;
  }

  .at-menu {
    margin-bottom: 0.9375em;
  }

  .plus {
    float: left !important;
  }

  .box-not li {
    padding-right: 0 !important;
  }
}
.pos-r {
  position: relative;
}

/* mudar selecao */
::-moz-selection {
  color: white;
  background: #ec732c;
  text-shadow: none;
}

::selection {
  color: white;
  background: #ec732c;
  text-shadow: none;
}
