/*
|----------------------------------------------
| Mixins e Functions
|----------------------------------------------
*/

// Tamanho dinamico
@mixin size($width, $height : $width) {
	width: $width;
	height: $height; 
} 

// Largura e altura dinamica por compass
@mixin image-box($imageUrl) {
    width  : image-width($imageUrl);
    height : image-height($imageUrl);
    background-image : image-url($imageUrl);
}

// Circle
@mixin circle($width, $cor){
    border-radius: 100%;
    background: $cor;
    @include size($width);    
}

// Image Replacement
@mixin img-rep($imageUrl, $float: left){
    float : $float;
    overflow : hidden;
    text-indent: -9999px;
    @include image-box($imageUrl);
}

// After ou Before
@mixin af-our-bef($cont:'', $width: 100%, $height: $w, $pos: relative){
    content: $cont;
    position: $pos;
    width: $width;
    height: $height;
}

// Background e cor
@mixin back($bg, $cor){
    background: $bg;
    color: $cor; 
}

// Transition
@mixin transition($properties: all, $duration: .1s, $easing: ease-in-out) {
    @if length($properties) > 1 {
        transition-property: $properties;
        transition-duration: $duration;
        transition-timing-function: $easing;
    } @else {
        transition: $properties $duration $easing;
    }
}


// Position (Em Teste)
@mixin position($pos, $ori, $dir...){
  position: $pos;
  
  // 1 posição
  @if length($dir) == 1{
   @if ($ori) == 't'{
      top: #{nth($dir, 1)};
   }@if ($ori) == 'r'{
      right: #{nth($dir, 1)};
   }@if ($ori) == 'b'{
      bottom: #{nth($dir, 1)};
   }@if ($ori) == 'l'{
      left: #{nth($dir, 1)};
   }@if ($ori) == 'all'{
      top: #{nth($dir, 1)};
      right: #{nth($dir, 1)};
      bottom: #{nth($dir, 1)};
      left: #{nth($dir, 1)};
    }
  }
  
  // 2 posição
  @if length($dir) == 2{
   @if ($ori) == 'tr' or ($ori) == 'rt'{
      top: #{nth($dir, 1)};
      right: #{nth($dir, 2)};
   } @if ($ori) == 'tb' or ($ori) == 'bt'{
      top: #{nth($dir, 1)};
      bottom: #{nth($dir, 2)};
   } @if ($ori) == 'tl' or ($ori) == 'lt'{
      top: #{nth($dir, 1)};
      left: #{nth($dir, 2)};
   } @if ($ori) == 'rb' or ($ori) == 'br'{
      right: #{nth($dir, 1)};
      bottom: #{nth($dir, 2)};
   }
  }
  
  // 3 posição
  @if length($dir) == 3{
   @if ($ori) == 'trb' {
      top: #{nth($dir, 1)};
      right: #{nth($dir, 2)};
      bottom: #{nth($dir, 3)};
   }@if ($ori) == 'trl' 
     or ($ori) == 'bt'{
      top: #{nth($dir, 1)};
      right: #{nth($dir, 2)};
      left: #{nth($dir, 3)};
   }@if ($ori) == 'tbl' or ($ori) == 'lt'{
      top: #{nth($dir, 1)};
      bottom: #{nth($dir, 2)};
      left: #{nth($dir, 3)};
   }
  }
  
  // 4 posição
  @if length($dir) == 4{
   @if ($ori) == 'trbl' {
      top: #{nth($dir, 1)};
      right: #{nth($dir, 2)};
      bottom: #{nth($dir, 3)};
      left: #{nth($dir, 4)};
   }
  }
}



