/*
|----------------------------------------------
| Placeholder
|----------------------------------------------
*/

%center{
    display : block ;
    margin  : {
        left : auto  ;
        right : auto ;
    }
}

%fl{
    float: left;
}

%fr{
    float: right;
}

%tit-default{
    font  : ft-c(12) $ft-monts;
    color : $white;
    padding : ft-c(10) ft-c(20);
    text-transform : uppercase;
}

%transition{
    @include transition;
}