/*
|----------------------------------------------
| Variables
|----------------------------------------------
*/

// Cores
$white : #fff;

// Azul
$blue       : #126fb8;
$lightBlue  : #30bfbb;
$darkBlue   : #2bb4b0;
$customBlue : #46dcda;

// Cinza
$gray : #7d7d7d;

// Tags
$violet     : #976eae;
$pink       : #ef509d;
$orange     : #ec732c;
$darkGreen  : #339882;
$lightGreen : #5ec09e;
$green      : #6cac44;

$yellow     : #fdbc15;

// Fontes
$ft-open : 'Open Sans', sans-serif;
$ft-monts : 'Montserrat', sans-serif;;


// Tamanhos
$t-pp   : ft-c(12);
$t-p    : ft-c(14);
$t-m    : ft-c(16);
$t-g    : ft-c(18);
$t-gg   : ft-c(28);

// Custom Tamanhos
$t-pp-custom : ft-c(13);
$t-p-custom : ft-c(15);
$t-gg-custom : ft-c(22);

// Position
$p-r : relative;
$p-a : absolute;


// Important
$i : !important;

// Grid
$cem : 100%;


// Listas
$color   : $pink, $orange, $darkGreen, $green, $lightGreen, $lightBlue, $violet;
$strings : 'pink', 'orange', 'darkgreen', 'green', 'lightgreen', 'lightblue', 'violet';
